<section class="container">
    <div class="d-flex justify-content-center mb-5"
         data-aos="fade-down"
         data-aos-anchor-placement="center-bottom"
    >
        <h2 class="text-center">Mes expérience</h2>
    </div>

    <div class="row justify-content-center">
        <aside class="col-12 col-lg-4"
               data-aos="fade-right"
        >
            <div class="card focusable-card mb-3"
                 data-bs-toggle="modal"
                 data-bs-target="#js-modal-webforce3"
            >
                <img src="{{ asset('images/webforce3.jpg') }}"
                     alt="WebForce3"
                     class="card-img-top"
                     loading="lazy"
                >

                <div class="card-body">
                    <h5 class="card-title text-is-bold">WebForce3 (formation)</h5>
                    <p class="card-text">
                        Formation au développement web
                        <br>
                        <a href="#">En savoir plus</a>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">Septembre 2017 - Février 2018</small>
                    </p>
                </div>
            </div>
        </aside>

        <aside class="col-12 col-lg-4"
               data-aos="fade-left"
        >
            <div class="card focusable-card mb-3"
                 data-bs-toggle="modal"
                 data-bs-target="#js-modal-sura"
            >
                <img src="{{ asset('images/sura.jpg') }}"
                     alt="Sura"
                     class="card-img-top"
                     loading="lazy"
                >
                <div class="card-body">
                    <h5 class="card-title text-is-bold">Sura (stage)</h5>
                    <p class="card-text">
                        Développement du site de l'entreprise
                        <br>
                        <a href="#">En savoir plus</a>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">Avril 2018 - Septembre 2018</small>
                    </p>
                </div>
            </div>
        </aside>
    </div>

    <div class="row justify-content-center">
        <aside class="col-12 col-lg-4"
               data-aos="fade-right"
        >
            <div class="card focusable-card mb-3"
                 data-bs-toggle="modal"
                 data-bs-target="#js-modal-intuitivtechnology"
            >
                <img src="{{ asset('images/intuitivtechnology.jpg') }}"
                     alt="Intuitiv Technology"
                     class="card-img-top"
                     loading="lazy"
                >
                <div class="card-body">
                    <h5 class="card-title text-is-bold">Intuitiv Technology</h5>
                    <p class="card-text">
                        Maintenance de projets
                        <br>
                        <a href="#">En savoir plus</a>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">Septembre 2018 - Décembre 2018</small>
                    </p>
                </div>
            </div>
        </aside>

        <aside class="col-12 col-lg-4"
               data-aos="fade-left"
        >
            <div class="card focusable-card mb-3"
                 data-bs-toggle="modal"
                 data-bs-target="#js-modal-latitud"
            >
                <img src="{{ asset('images/latitud.jpg') }}"
                     alt="Latitud"
                     class="card-img-top"
                     loading="lazy"
                >
                <div class="card-body">
                    <h5 class="card-title text-is-bold">Latitud</h5>
                    <p class="card-text">
                        Développement de solutions pour l'immobilier
                        <br>
                        <a href="#">En savoir plus</a>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">Décembre 2018 - Octobre 2019</small>
                    </p>
                </div>
            </div>
        </aside>
    </div>

    <div class="row justify-content-center">
        <aside class="col-12 col-lg-8"
               data-aos="fade-up"
        >
            <div class="card focusable-card mb-3"
                 data-bs-toggle="modal"
                 data-bs-target="#js-modal-novaway"
            >
                <img src="{{ asset('images/novaway.jpg') }}"
                     alt="Novaway"
                     class="card-img-top"
                     loading="lazy"
                >
                <div class="card-body">
                    <h5 class="card-title text-is-bold">Novaway</h5>
                    <p class="card-text">
                        Conception de sites et application web
                        <br>
                        <a href="#">En savoir plus</a>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">Depuis Novembre 2019</small>
                    </p>
                </div>
            </div>
        </aside>
    </div>

    <div class="modal fade"
         id="js-modal-webforce3"
         tabindex="-1"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">WebForce3 - Formation au développement web</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Formation de développement web se déroulant sur 3 mois.
                        <br>
                        Apprentissages des bases de la conception d'un site web de A à Z, sur les langages et technologies JavaScript / PHP / MySQL.
                    </p>

                    <p>Projet de fin de formation : développement d'un CMS permettant la réalisation de site vitrine et e-commerce en Symfony en 5 jours en groupe de 3 personnes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="js-modal-sura"
         tabindex="-1"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sura - Développement du site de l'entreprise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Stage réalisé au sein du groupe SURA, développement du site de l'entreprise aux côtés d'un autre développeur/intégrateur.</p>

                    <p>
                        Lors de ce stage et ayant carte blanche pour la réalisation de celui-ci, j'ai en parallèle appris en autodidacte à utiliser les frameworks Angular et Symfony afin de les intégrer au projet.
                        <br>
                        J'ai également appris les bases de la conception d'une API REST en Symfony.
                    </p>

                    <ul>
                        <li>Développement d'un site innovant & responsif</li>
                        <li>Mise en place d'une API REST et d'outils Google API</li>
                        <li>Gestion des utilisateurs et double back-office</li>
                        <li>Animations front-end</li>
                        <li>Conception de simulateurs avec calculs complexes</li>
                        <li>Tests fonctionnels</li>
                        <li>Maintenance et évolution</li>
                        <li>Installation + administration d'un serveur dédié</li>
                        <li>...</li>
                    </ul>

                    <p>NB : le site a complètement été remanié depuis la fin de mon stage, il ne reflète plus aujourd'hui le travail que j'ai effectué dessus.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="js-modal-intuitivtechnology"
         tabindex="-1"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Intuitiv Technology - Maintenance de projets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Première expérience professionnelle, maintenance de divers projets en Symfony encadré par des lead developpers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="js-modal-latitud"
         tabindex="-1"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Latitud - Développement de solutions pour l'immobilier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Conception d'un CMS complet et dynamique avec prévisualisation en temps réel, avec le framework Angular pour le front et Symfony pour l'API.</p>

                    <ul>
                        <li>Création poussée de pages et articles, optimisées en SEO</li>
                        <li>Médiathèque avancée avec transfert de fichiers lourds en "chunk"</li>
                        <li>Gestion fine des rôles, utilisateurs et leurs permissions</li>
                        <li>Création dynamique de formulaires et contraintes de validation personnalisables</li>
                        <li>Administration des informations du site web, écriture du fichier robot.txt, modification de toutes les balises meta, ...</li>
                        <li>Création et modification d'offres d'emploi et d'annonces immobilières</li>
                        <li>Génération de menus sur 3 niveaux différents avec aperçu en temps réel</li>
                        <li>Recherche avancée à l'aide d'ElasticSearch</li>
                        <li>Import et export de données depuis diverses sources externes</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="js-modal-novaway"
         tabindex="-1"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Novaway - Conception de sites et application web</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Beaucoup trop de choses en vrai, mais il faudra bien faire ce contenu un jour.</p>
                </div>
            </div>
        </div>
    </div>
</section>

