<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Charles Climent - Développeur web back-end{% endblock %}</title>
        <meta name="description" content="{% block description %}Développeur spécialisé dans la conception de sites et solutions logicielles web, utilisant des technologies modernes telles que Symfony.{% endblock %}">

        <link rel="canonical" href="https://rylix.fr/">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/seo/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/seo/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/seo/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/seo/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('images/seo/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset('images/seo/favicon/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ asset('images/seo/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ block('description') }}">
        <meta property="og:image" content="{{ asset('images/seo/favicon/apple-touch-icon.png') }}">
        <meta property="og:url" content="https://rylix.fr/">
        <meta property="og:site_name" content="{{ block('title') }}">

        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:image" content="{{ asset('images/seo/favicon/apple-touch-icon.png') }}">
        <meta name="twitter:site" content="@_rylix">
        <meta name="twitter:creator" content="@_rylix">

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "CreativeWork",
                "author": "Charles Climent",
                "description": "Développeur spécialisé dans la conception de sites et solutions logicielles web, utilisant des technologies modernes telles que Symfony.",
                "image": "{{ absolute_url(asset('images/seo/favicon/apple-touch-icon.png')) }}",
                "name": "Charles Climent - Développeur web back-end"
            }
        </script>

        {% block importmap %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <section class="container">
                <p class="text-center text-is-bold">Retrouvez le code source de ce site sur <a href="https://github.com/rylixs/site-perso" title="Mon Github" target="_blank" rel="noopener nofollow">mon Github</a> !</p>
            </section>
        {% endblock %}
    </body>
</html>
